:root {
  line-height: 1.5;
}

h1, h2, h3, h4, h5, figure, p, ol, ul, body {
  margin: 0;
}

ol[role="list"], ul[role="list"] {
  list-style: none;
  padding-inline: 0;
}

h1, h2, h3, h4, h5 {
  font-size: inherit;
  font-weight: inherit;
}

img {
  display: block;
  max-inline-size: 100%;
}

* {
box-sizing: border-box;
}



.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.grid {
    border: 8px solid rgb(97, 58, 21);
    border-radius: 10px;
    background-color: rgb(230, 176, 127);
    width: 500px;
    height: 500px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    grid-auto-rows: 150px;
    gap: 15px;
    padding: 15px;
}

.book {
    background-color: rgb(67, 112, 163);
    display: flex;
    flex-direction: column;
    padding: 5px;
    align-items: center;
    justify-content: space-between;
}

.book h1 {
    font-size: 1.4rem;
    font-weight: bold;
}

.book h2 {
    font-style: italic;
}

.readLabel {
    background-color: rgb(46, 163, 46);
    color: white;
    border: 2px solid rgb(30, 72, 119);
    padding: 1px 5px;
}

.notReadLabel {
    background-color: rgb(209, 32, 32);
    padding: 1px 5px;
    border: 2px solid rgb(30, 72, 119);
}



.newBookForm {
    display: grid;
    grid-template-columns: 1fr 200px;
    gap: 10px;
}

.newBookForm input {
    justify-self: left;
    width: 100%;
}

#read {
    width: auto;
}

.newBookForm label {
    justify-self: right;
}

.buttons {
    display: flex;
    gap: 15px;
    justify-content: flex-end;
    grid-column: 1 / -1;
}

